<div style="height: 410px; overflow: auto;">
<table class="table" id="players-table">
    <thead>
        <tr class="table-dark">
            <td class="text-warning">Name</td>
            <td class="text-warning">Position</td>
            <td class="text-warning">Nationality</td>
            <td>
                <button class="btn btn-shadow btn-outline-warning"  id="add-player-button" style="max-height: 44px; min-width: 120px;">
                    new player
                </button>
            </td>
        </tr>
        {{#each players}}
           <tr class="table-dark table-bordered">
                <td>
                    <span>{{this.name}}</span>
                    <input type="text" class="form-control" value="" style="display: none;">
                </td>
            {{#if this.position}}
                <td>
                    <span>{{this.position}}</span>
                    <input type="text" class="form-control" value="" style="display: none;">
                </td>
            {{else}}
                <td>
                    <span>{{this.role}}</span>
                    <input type="text" class="form-control" value="" style="display: none;">
                </td>
            {{/if}}
                <td>
                    <span>{{this.nationality}}</span>
                    <input type="text" class="form-control" value="" style="display: none;">
                </td>
                <td class="buttons-column" style="display: flex;">
                    <button class="btn btn-outline-warning edit" style="margin-right: 10px;">
                        edit
                    </button>
                </td>
            </tr>
        {{/each}}
    </thead>
</table>
</div>