<div class="container">
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-shadow btn-outline-warning" style="margin-top: 25px;" id="back-to-teams-button" href="{{data.teamsPath}}">
                Go back
            </button>
        </div>

        <div class="col-4">
            <div class="d-flex justify-content-center img-container">
                {{#if data.hasCustomCrest}}
                <img src="{{data.domain}}{{data.crest}}" class="team-crest-image" alt="team crest" id="team-crest" href="{{data.crestPath}}">
                {{else}}
                <img src="{{data.crest}}" alt="Team crest" class="team-crest-image" id="team-crest" href="{{data.crestPath}}">
                {{/if}}
                <button class="btn btn-shadow overlay-button btn-outline-warning position-absolute top-50 start-50 translate-middle" id="upload-image-button" style="font-size: 150%;">
                    <span style="display:block">
                        Upload new image
                    </span>
                    <span style="font-size: 60%; display:block">
                        jpeg / jpg / png / gif   
                    </span>
                </button>
                <input type="file" id="image-input" style="display: none">
            </div>
        </div>

        <div class="col">
            <div class="text-end">
                {{#if data.hasDefault}}
                    <button type="button" id="reset-team-button" class="btn btn-shadow btn-outline-danger" 
                    style="margin-top: 25px;" data-bs-toggle="modal" data-bs-target="#confirmationModal" href="{{data.resetTeamPath}}"
                    data-toggle="tooltip" data-placement="bottom" title="Reset the team to its default values">
                        Reset to default
                    </button>
                {{else}}
                    <button id="reset-team-button" class="btn btn-shadow btn-outline-danger disabled" 
                    style="margin-top: 25px; pointer-events: auto" href=""
                    data-toggle="tooltip" data-placement="bottom" title="This team is custom-made and has no default values">
                        Reset to default
                    </button>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row" id="tables">
        <div class="col">
            <strong class="d-flex justify-content-center text-warning table-title">
                Team
            </strong>
            <div class="d-flex justify-content-center">
                {{> teamTable team=data.team path=data.teamPath id=data.id}}
            </div>
        </div>
        <div class="col">
            <strong class="d-flex justify-content-center text-warning table-title">
                Players
            </strong>
            <div class="d-flex justify-content-center">
                {{> playersTable players=data.players path=data.playerPath id=data.id }}
            </div>
        </div>
    </div>
    <input type="hidden" id="team-id" value="{{data.id}}">
</div>
{{> confirmationModal }}
<script type="module" src="src/teamEditor/eventHandler.js"></script>